<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RestGuideDB" connectionString="data source=MIM-L430\DEV1;initial catalog=RestaurangGuide;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
